$primary-color: #ebe9e9;
$secondary-color: darken($primary-color, 50%);
$additional-color: rgb(111, 111, 250);
$white-color: #fff;
$success-color: rgb(29, 219, 29);
$error-color: rgb(247, 81, 81);

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 90%;
    max-width: 500px;
    min-width: 310px;
}

.container {
    background-color: $white-color;
    padding: 1rem;
    width: 100%;

    border-radius: 0.5rem;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
}

.header {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

.form-group {
    margin: 1.5rem 0;
    font-size: 1rem;
    color: $secondary-color;
    

    label, input, small {
        display: block;
        margin: 0.5rem 0;
    }

    label {
        font-size: 1.2rem;
        letter-spacing: 1px;
    }

    input {
        padding: 0.5rem;
        font-size: 1rem;
        width: 100%;
        color: $secondary-color;
        border: 1px solid $primary-color;
        border-radius: 0.2rem;

        &:focus {
            outline: 0;
            border-color: $secondary-color;
        }
    }

    small {
        font-size: 0.8rem;
        visibility: hidden;
    }
}

.form-group.success {
    input {
        border: 2px solid $success-color;
    }

    small {
        visibility: hidden;
    }
}

.form-group.error {
    input {
        border: 2px solid $error-color;
    }

    small {
        visibility: visible;
        color: $error-color;
    }
}

.btn {
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 100%;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $white-color;
    background-color: $additional-color;
    transition: .2s;

    &:focus {
        outline: 0;
    }


    &:hover {
        cursor: pointer;
        background-color: darken($additional-color, 20%);
    }
}